<div ng-include src="'static/app/views/navbar.html'"></div>

<div class="container">
    <div class="span4" id="installation" style="min-height:350px;margin-left: 0px;">

        <h3>Users to Delete</h3>
        <div ng-repeat="people in peoples_todelete">
             <h5>
                 [[ people.email ]]
                <input type="button" value="delete" ng-click="delete_user('[[ people.email ]]')" class="pull-right">
             </h5>
            <hr />
         </div>

     [[ deleted_u ]]

   </div>
     <div class="span4" id="installation" style="min-height:350px;margin-left: 20px;">

        <h3>chapters  to Delete</h3>                        </br>
        <div ng-repeat="chapter in chapters_todelete">
            <h5>
                [[ chapter.chapter_name ]]
                <input type="button" value="delete" ng-click="delete_chapter('[[ chapter.chapter_path ]]')" class="pull-right">
            </h5>
            <hr />
         </div>
        [[ deleted_c ]]
     </div>

     <div class="span4" id="installation" style="min-height:350px;margin-left: 0px;">
        <h3>delete all examse</h3>
                    </br>

           <input type="button" value="delete all Exams" ng-click="delete_all_exams()" class="pull-right">

     </div>
     [[ deleted_e ]]
</div>

