<div ng-include src="'static/app/views/navbar.html'"></div>
<div class="container">
    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
          <li>
              <a href="/">
                  <i class="icon-chevron-right"></i>
                  Home
              </a>
          </li>
          <li class="active">
              <a href="#/courses">
                  <i class="icon-chevron-right"></i>
                  Courses
              </a>
          </li>
          <li>
              <a href="#/about">
                  <i class="icon-chevron-right"></i>
                  About us
              </a>
          </li>
            <li>
              <a href="#/feedback">
                  <i class="icon-chevron-right"></i>
                  Feedback
              </a>
          </li>
          <li>
              <a href="#/contact">
                  <i class="icon-chevron-right"></i>
                  Contact
              </a>
          </li>
        </ul>
      </div>
      <div class="span9">



        <!-- Global Bootstrap settings
        ================================================== -->
        <section id="installation" style="min-height:350px;">

            <h1>Tutorials</h1>
			</br>
            <div class="row-fluid">
                <div class="span3">
                    <a target="_blank" href="#/courses/wind-energy/assessments/online" class="btn btn-small btn-success" style="padding:5px 10px;">
                        Assessment 1
                    </a>
                </div>
                <div class="span3">
                    <a href="" disabled class="btn btn-small btn-success" style="padding:5px 10px;">
                        Assessment 2
                    </a>
                </div>
                <div class="span3">
                    <a href="" disabled class="btn btn-small btn-success" style="padding:5px 10px;">
                        Assessment 3
                    </a>
                </div>
            </div><br>
            <div class="row-fluid">
                <div class="span3">
                    <a href="" disabled class="btn btn-small btn-success" style="padding:5px 10px;">
                        Assessment 4
                    </a>
                </div>
                <div class="span3">
                    <a href="" disabled class="btn btn-small btn-success" style="padding:5px 10px;">
                        Assessment 5
                    </a>
                </div>
                <div class="span3">
                    <a href="" disabled class="btn btn-small btn-success" style="padding:5px 10px;">
                        Assessment 6
                    </a>
                </div>
            </div><br>
            <div class="row-fluid">
                <div class="span3">
                    <a href="" disabled class="btn btn-small btn-success" style="padding:5px 10px;">
                        Assessment 7
                    </a>
                </div>
                <div class="span3">
                    <a href="" disabled class="btn btn-small btn-success" style="padding:5px 10px;">
                        Assessment 8
                    </a>
                </div>
                <div class="span3">
                    <a href="" disabled class="btn btn-small btn-success" style="padding:5px 10px;">
                        Assessment 9
                    </a>
                </div>
            </div>
            <hr />


        </section>


        <hr class="bs-docs-separator">


      </div>
    </div>



</div>